body {
    height: 100%;
    overflow: hidden;
	background-color: rgb(35, 35, 51);
	color: white;
}

p {
	color: rgb(190, 190, 190);
}

a {
	color: rgb(227, 150, 27);
}

#topbar {
    padding-left: 20px;
}

#title {
    font-size: 62;
    font-family: sans-serif;
    text-align: center;
    margin: auto;
    width: 25%;
    padding: 15% 0;
    border: 3px;
}

#subtitle {
    font-size: 25;
    font-family: sans-serif;
    text-align: center;
}

#links {
    text-align: center;
    padding: 20px 0;
}
